<h1 id="header">Save Image</h1>

<%= form_with scope: :image, url: image_index_path do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
   
    <p>
      <%= form.label :URL %><br>
      <%= form.text_area :image_url %>
    </p>

    <p>
      <%= form.label :Tags %><br>
      <%= form.text_area :tag_list %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>

  <p> 
    <% if @image.nil? %>
      <p> Welcome!  Please enter an image name and URL. </p>
    <% elsif @image.errors.any? %>
      <p> Hi! You have errors. </p>
      <% if @image.errors[:name].any? %>
        <%= @image.errors[:name][0] %><br>
      <% end %>
      <% if @image.errors[:image_url].any? %>
        <%= @image.errors[:image_url][0] %><br>
        <% unless @image.errors[:image_url][1].nil? %>
          <%= @image.errors[:image_url][1] %><br>
          <% end %>
      <% end %>
      <% if @image.errors[:tag_list].any? %>
        <%= @image.errors[:tag_list][0] %><br>
      <% end %>
    <% else %>
      <p> Hi! You have no errors.  Lucky you! </p><br>
    <% end %>
  </p>
  <a href="/">Check out the chicken index!</a><br>
