<h1 id="header">Your Image</h1>
<% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
<img src=<%= @image.image_url %> alt=<%= @image.name %> > <br>
<p id="tags">Tags: <%= raw(@image.tag_list.map { |t| link_to t, tagged_path(t) }.join(', ')) %> </p>
<tr>
    <td> <%= link_to 'Submit chicken photos of your own!', new_image_path %> </td><br>
    <td> <%= link_to 'Edit', edit_image_path(@image.id) %></td><br>
    <td> <%= link_to 'Delete', image_path(@image), method: :delete, data: { confirm: 'Are you sure you want to delete this photo?'} %></td><br>
</tr>
